@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #0A0A0C;
    font-family: 'Libre Baskerville', serif;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: transparent;
}

.nav-list 
{
    display: flex;
    list-style: none;
}

.nav-list li
{
    display: flex;
}



.nav-list li a 
{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 0.9em;
}

section
{
    color: #fff;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/karsten-wurth-7BjhtdogU3A-unsplash.jpg');
    background-size: cover;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    height: 100vh;
}

.section-1
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 .text-h1
{
    font-size: 4em;
    text-shadow: 2px 5px 2px #0A0A0C;
}

.section-1 .text-p
{
    font-size: 20px;
    text-shadow: 2px 2px 2px #0A0A0C;
}

.section-1 .btn-sec
{
    margin-top: 30px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.section-1 .btn-sec a
{
    color: #fff;
    text-align: center;
}


